*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
button:focus{
    outline: none;
}
input:focus{
    outline: none;
}