@import url(base.css);
.alertclass{
    width: 394px;
    height: 224px;
    background: #fff;
    border-radius: 4px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 15px 3000px rgba(0,0,0,0.8);
    z-index: 999;
    padding: 0;
    display: none;
}
.alertclass .alertHeader{
    width: 100%;
    height: 46px;
    padding: 20px 0 6px 0;
    border-bottom: 1px solid #f4f4f4;
}
.alertclass .alertHeader .alertTitle{
    width: 65px;
    height: 20px;
    float: left;
    margin-left: 164px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: rgba(0,0,0,0.8);
}
.alertclass .alertHeader .delete{
    width: 47px;
    height: 20px;
    font-size: 22px;
    float: right;
    text-align: center;
    line-height: 18px;
    color: rgba(0,0,0,0.4);
    cursor: pointer;
}
.alertclass main{
    padding: 0 37px 0;
}
.alertclass main .name{
    width: 100%;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.alertclass main .name .nameLeft,.introduceLeft,.ClassLeft{
    width: 58px;
    height: 30px;
    font-size: 14px;
    color: rgba(0,0,0,0.4);
    float: left;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}
.Classes1{
    margin-top: 20px;
}
.Classes1 .ClassRight{
    height: 30px;
    float: left;
}
.back{
    background: url("../img/check.png") no-repeat;
    background-size: contain;
}
input[type=checkbox]{
    -webkit-appearance: none;
    outline: none;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 1px solid #f4f4f4;
    box-sizing: border-box;
    padding: 9px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    cursor: pointer;
}
input[type=checkbox]:focus{
    outline: none;
}
.Classes1 .ClassRight label{
    font-size: 14px;
    color: rgba(0,0,0,0.4);
    margin-top: 5px;
    cursor: pointer;
}
.ClassLeft1{
    width: 116px;
}
.alertclass main .name .nameRight{
    width: 248px;
    height: 70px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.alertclass main .name .nameRight input,.alertclass main select{
    width: 248px;
    height: 30px;
    float: right;
    border: 1px solid #f4f4f4;
    padding-left: 5px;
    border-radius: 2px;
    color: rgba(0,0,0,0.2);
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
/*select:after{*/
/*content: "";*/
/*width: 14px;*/
/*height: 8px;*/
/*background: url(img/xiala.png) no-repeat center;*/
/*//通过定位将图标放在合适的位置*/
/*position: absolute;*/
/*right: 20px;*/
/*top: 45%;*/
/*//给自定义的图标实现点击下来功能*/
/*pointer-events: none;*/
/*}*/
.alertclass main .name .nameRight button{
    width: 82px;
    height: 30px;
    border: none;
    background: #4381e6;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
}
.alertclass main .introduce{
    width: 100%;
    height: 62px;
    margin-bottom: 15px;
}
.alertclass main .introduce textarea{
    width: 248px;
    height: 62px;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    resize: none;
    outline: none;
    float: right;
    padding: 5px 0 0 5px;
}

.alertclass main .Class1{
    width: 100%;
    height: auto;
    margin-bottom: 13px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.alertclass main .Class1 .Classes{
    width: 100%;
    height: 30px;
    margin-bottom: 14px;
}
.alertclass main button{
    width: 100%;
    height: 29px;
    border: none;
    font-size: 14px;
    color: rgba(0,0,0,0.4);
    border-radius: 4px;
}
